<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>main</title>
</head>
<body>
    <div id="wrap">
        <header id="header"></header>
        <section class="mypage">
            <div class="mytop">
                <div class="myimg">
                    <img src="image/i-17.jpg" alt="">
                </div>
                <!-- nav로 해야됌? 뭘로할까 -->
                <div class="myinfo">
                    <ul>
                        <li>회원정보</li>
                        <li>회원정보 수정하기</li>
                    </ul>
                </div>
            </div>
            <div class="myunder">
                <p>지원현황</p>
                <ul>
                    <li>-</li>
                </ul>
            </div>
        </section>
        <!-- <section id="page1">

        </section> -->
        <footer id="footer"></footer>
    </div>

    <footer></footer>
</body>
</html>